user_data/
user_data_instacart/
user_data_ubereats/
user_data_doordash/

venv/
py_venv/
__pycache__/
_pycache_/
__pycache__/
__pycache__/
.env
.venv/
.pytest_cache/
.ruff_cache/
.vscode/
.idea/
.pytest_cache/
.ruff_cache/
.vscode/
.idea/
python_cache/
python_venv/

runtime/