user_data/
user_data_instacart/
user_data_ubereats/
user_data_doordash/



.env
.venv/
.pytest_cache/
.ruff_cache/
.vscode/
.idea/
.pytest_cache/
.ruff_cache/
.vscode/
.idea/
python_cache/
python_venv/
